force-app/main/default/flows/Get_Population_Density_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Population_Info</name>
        <label>Get Population Info</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>populationDensity</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Case_Comment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Population_Info</name>
            <value>
                <elementReference>Get_Population_JSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>populationDensity</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Population_JSON</name>
        <label>Get Population JSON</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>populationDensityData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Population_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>$Record.Disaster_Zipcode__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>populationDensityData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Get Population Density Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Population Density Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Get_Population_Info.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Population_JSON</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
