flows/Add_Disaster_Related_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_json</name>
        <label>Get json</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>weatherForeCastData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Weather_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>$Record.Disaster_Zipcode__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>weatherForeCastData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Shelter_data</name>
        <label>Get Shelter data</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>Get_Shelter_Data</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Copy_1_of_Create_Case_Comment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Zipcode</name>
            <value>
                <elementReference>$Record.Disaster_Zipcode__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Get_Shelter_Data</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Weather_Info</name>
        <label>Get Weather Info</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>Get_Weather_Data</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Case_Comment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Weather_Info</name>
            <value>
                <elementReference>Get_json.weatherData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Get_Weather_Data</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Add Disaster Related Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Disaster Related Comments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Case_Comment</name>
        <label>Copy 1 of Create Case Comment</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Get_Shelter_data.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Shelter_data</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Get_Weather_Info.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_json</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
